:root {
  --primary-txt-color: #212121;
  --secondary-txt-color: #757575;
  --logo-txt-color: #000000;
  --accent-color: #2196F3;
  --icon-color: #AFB1B8;
  --btn-active-color: #188CE8;
  --link-foot-color: rgba(255, 255, 255, 0.6);
  --border-color: #ECECEC;
  --border-port-color: #EEEEEE;
  --primary-bg-color: #FFFFFF;
  --secondary-bg-color: #2F303A;
  --team-bg-color: #F5F4FA;
  --work-bg-color: rgba(47, 48, 58, 0.8);
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--primary-txt-color);
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  text-decoration: none;
  color: var(--logo-txt-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__text {
  color: var(--accent-color);
}

.sec-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

.social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--primary-bg-color);
}

.backdrop {
  background-color: var(--modal-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.modal-close-button__icon {
  fill: var(--logo-txt-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover .modal-close-button__icon, .modal-close-button:focus .modal-close-button__icon {
  fill: var(--accent-color);
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-txt-color);
  margin-bottom: 12px;
}

.modal-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-txt-color);
  margin-bottom: 10px;
}

.modal-form__wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  fill: var(--primary-txt-color);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__label_textarea {
  margin-bottom: 20px;
}

.modal-form__textarea {
  display: block;
  outline: none;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus {
  border-color: var(--accent-color);
}
.modal-form__textarea::-webkit-input-placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-moz-placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:-ms-input-placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-ms-input-placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__wripper_checkbox {
  margin-bottom: 30px;
}

.modal-form__label_checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--secondary-txt-color);
}
.modal-form__label_checkbox::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/icon-check-cold.svg);
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 8px;
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input_checkbox:checked + .modal-form__label_checkbox::before {
  background-image: url(../images/icon-check.svg);
}
.modal-form__input_checkbox:focus + .modal-form__label_checkbox::before {
  outline: 1px solid var(--accent-color);
}

.modal-form__link {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-left: 4px;
}

.modal-form-button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 52px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover, .modal-form-button:focus {
  background-color: var(--btn-active-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
  .modal {
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal__text {
    line-height: 1.1;
  }
  .modal-form__label_checkbox {
    font-size: 14px;
    line-height: 1.7;
  }
}
.header {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .cont-list__item:first-child {
    margin-bottom: 10px;
  }
  .cont-list__icon {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-list {
    display: none;
  }
  .cont-list {
    display: none;
  }
  .menu-button {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .menu-button__icon {
    fill: var(--primary-txt-color);
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-button:hover .menu-button__icon, .menu-button:focus .menu-button__icon {
    fill: var(--accent-color);
  }
  .mobile-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-bg-color);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding: 48px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .menu-close-button {
    border: none;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  .menu-close-button__icon {
    fill: var(--primary-txt-color);
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-close-button:hover .menu-close-button__icon, .menu-close-button:focus .menu-close-button__icon {
    fill: var(--accent-color);
  }
  .mobile-nav {
    list-style: none;
    margin-bottom: auto;
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-nav__link {
    text-decoration: none;
    color: var(--primary-txt-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav__link:hover {
    color: var(--accent-color);
  }
  .mobile-nav__link_active {
    color: var(--accent-color);
  }
  .mobile-cont {
    list-style: none;
    margin-bottom: 64px;
  }
  .mobile-cont__item:first-child {
    margin-bottom: 32px;
  }
  .mobile-cont__link {
    text-decoration: none;
    color: var(--secondary-txt-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .mobile-cont__link_tel {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .mobile-social {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .mobile-social__link {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 17px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    position: relative;
  }
  .mobile-social__link_line::after {
    content: "";
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    margin-left: 10px;
  }
}
@media screen and (max-width: 380px) {
  .mobile-social__link {
    font-size: 12px;
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 12px;
  }
  .mobile-nav__link {
    text-decoration: none;
    font-size: 30px;
    line-height: 1.17;
  }
  .mobile-cont__item:first-child {
    margin-bottom: 12px;
  }
  .mobile-cont__link_tel {
    font-weight: 500;
    font-size: 27px;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo_top {
    margin-right: 87px;
  }
  .nav-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    text-decoration: none;
    color: var(--primary-txt-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
  }
  .nav-list__link_active {
    color: var(--accent-color);
  }
  .nav-list__link_active::after {
    content: "";
    background-color: var(--accent-color);
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 18px;
    left: 0;
    margin-top: 28px;
  }
  .cont-list {
    list-style: none;
  }
  .cont-list__link {
    text-decoration: none;
    color: var(--secondary-txt-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .cont-list__icon {
    margin-right: 8px;
    fill: var(--secondary-txt-color);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .logo_top {
    margin-right: 92px;
  }
  .nav-list__link {
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__link_active::after {
    margin-top: 26px;
  }
  .cont-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-list__item:first-child {
    margin-right: 48px;
  }
  .cont-list__link {
    line-height: 1.14;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .cont-list__link:hover, .cont-list__link:focus {
    color: var(--accent-color);
  }
  .cont-list__link:hover .cont-list__icon, .cont-list__link:focus .cont-list__icon {
    fill: var(--accent-color);
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  background-color: #C4C4C4;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 24px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mob-bgn.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-bgn.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mob-bgn@x2.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-bgn@x2.jpg);
  }
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-table-bgn.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-table-bgn.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-table-bgn@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-table-bgn@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desc-bgn.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desc-bgn.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desc-bgn@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desc-bgn@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 1200px) {
  .hero-button {
    padding: 10px 32px;
    min-width: 216px;
  }
  .hero-button:active {
    background-color: var(--btn-active-color);
  }
}
.about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
}

.about-list {
  list-style: none;
}

.about-list__box {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--team-bg-color);
  margin-bottom: 30px;
}

.about-list__title {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.about-list__text {
  color: var(--secondary-txt-color);
  line-height: 1.7;
}

@media screen and (max-width: 767px) {
  .about-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .about-list__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .about-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .about-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .about-list__title {
    text-transform: uppercase;
  }
  .about-list__text {
    line-height: 2;
  }
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-top: 0;
  }
  .work .sec-title {
    margin-bottom: 50px;
  }
  .sec-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
  .work-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work-list__item {
    position: relative;
  }
  .work-list__box {
    position: absolute;
    bottom: 0px;
    padding: 27px 95px;
    width: 100%;
    background-color: var(--work-bg-color);
    padding: 27px, 107px;
  }
  .work-list__text {
    color: var(--primary-bg-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }
}
.team {
  background-color: var(--team-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.team .sec-title {
  margin-bottom: 30px;
}

.team-list {
  list-style: none;
}

.team-list__item {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-list__box {
  background-color: var(--primary-bg-color);
  padding-top: 30px;
  padding-bottom: 24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-list__text {
  color: var(--secondary-txt-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
  }
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .team-list__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team .sec-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
  }
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-list__item:hover {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  }
  .team-list__box {
    padding: 30px 32px;
  }
}
.clients {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients .sec-title {
  margin-bottom: 30px;
}

.clients-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-list__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients-list {
    margin-bottom: -30px;
  }
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    height: 92px;
    margin-bottom: 30px;
  }
  .clients-list__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    margin-top: -30px;
    margin-left: -30px;
  }
  .clients-list__item {
    width: 226px;
    height: 92px;
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients .sec-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
  .clients-list__item {
    width: 170px;
    height: 92px;
  }
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.portfolio {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.button-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-list__item {
  margin-left: 8px;
  margin-top: 15px;
}

.portfolio-button {
  color: var(--primary-txt-color);
  background-color: var(--team-bg-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
  list-style: none;
}

.portfolio-list__link {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list-overlay__text {
  color: var(--primary-bg-color);
}

.portfolio-list-overlay__box {
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover .portfolio-list-overlay__box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-list__box {
  padding: 20px 24px;
  border: 1px solid var(--border-port-color);
  border-top: 0;
}

.portfolio-list__title {
  color: var(--primary-txt-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list__text {
  color: var(--secondary-txt-color);
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (max-width: 767px) {
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .button-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -8px;
    margin-bottom: 40px;
  }
  .portfolio-button:active {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
  }
  .portfolio-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .portfolio-list__item:nth-child(even) {
    margin-left: 30px;
  }
  .portfolio-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .portfolio-list__box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .portfolio-button {
    cursor: pointer;
  }
  .portfolio-button:hover, .portfolio-button:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo_bottom {
  color: var(--primary-bg-color);
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.17;
}

.address-list {
  list-style: none;
}

.address-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.address-list__link {
  text-decoration: none;
  color: var(--primary-bg-color);
  line-height: 1.17;
}

.address-list__link_color {
  color: var(--link-foot-color);
}

.social-box {
  margin-bottom: 60px;
}

.social-box__text {
  color: var(--primary-bg-color);
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social-list__link_footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon_footer {
  fill: var(--primary-bg-color);
}

.footer-form__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.footer-form__input {
  display: block;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 100%;
  padding: 15px 16px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-bg-color);
}
.footer-form__input::-webkit-input-placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--link-foot-color);
}
.footer-form__input::-moz-placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--link-foot-color);
}
.footer-form__input:-ms-input-placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--link-foot-color);
}
.footer-form__input::-ms-input-placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--link-foot-color);
}
.footer-form__input::placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--link-foot-color);
}

.footer-button {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 28px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.footer-button__icon {
  fill: var(--primary-bg-color);
  margin-left: 10px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .footer-box {
    margin-left: 76px;
    margin-right: 165px;
  }
  .footer-form {
    width: 450px;
    margin-left: 166px;
  }
}
@media screen and (max-width: 1199px) {
  .logo_bottom {
    text-align: center;
  }
  .address-list {
    text-align: center;
  }
  .social-box__text {
    text-align: center;
  }
  .footer-form__label {
    text-align: center;
  }
  .footer-form__input {
    margin-bottom: 20px;
  }
  .footer-button {
    margin-left: auto;
    margin-right: auto;
  }
  .address-list {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .social-box {
    margin-left: 70px;
  }
  .footer-form {
    margin-left: auto;
  }
  .footer-form__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-form__input {
    width: 358px;
  }
  .footer-button {
    margin-left: 12px;
  }
}/*# sourceMappingURL=main.css.map */