.about {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-bg-color);
}
.about-list {
    @include list;
}
.about-list__box {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--team-bg-color);
    margin-bottom: 30px;
}
.about-list__title {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
 }
 .about-list__text {
    color: var(--secondary-txt-color);
    line-height: 1.7;
 }
@media screen and (max-width: 767px) {
    .about-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
    .about-list__title {
        text-align: center;
    }

}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .about-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .about-list__item {
        flex-basis: calc((100% - 30px) / 2);
    }
}
@media screen and (min-width: 1200px) {
    .about {
        @include section;
    }
    .about-list {
        display: flex;
        gap: 30px;
        // margin-left: -30px;
    }
    .about-list__item {
        flex-basis: calc((100% - 90px) / 4);
        // margin-left: 30px;
    }
    .about-list__title {
        text-transform: uppercase;
    }
    .about-list__text {
        line-height: 2;
    }

}