.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: cover;
    background-color: #C4C4C4;
    margin-left: auto;
    margin-right: auto;
}
.hero__title {
    color: var(--primary-bg-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.hero-button {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 24px;
}
@media screen and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)), 
                        url(../images/hero-mob-bgn.jpg);
        
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)), 
                            url(../images/hero-mob-bgn@x2.jpg);
        }
          
    }
}
@media screen and (max-width: 1199px) {
    .hero__title {
        max-width: 360px;
    }
}
@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
                        rgba(47, 48, 58, 0.4), 
                        rgba(47, 48, 58, 0.4)), 
                        url(../images/hero-table-bgn.jpg);
        }
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)), 
                            url(../images/hero-table-bgn@2x.jpg);
        }
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
                        rgba(47, 48, 58, 0.4)), 
                        url(../images/hero-desc-bgn.jpg);
    }
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), 
                url(../images/hero-desc-bgn@2x.jpg);
        }
    }
    .hero__title {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
    .hero-button {
        padding: 10px 32px;
        &:active {
            background-color: var(--btn-active-color);
        }
        min-width: 216px;
    }
}