.team {
    background-color: var(--team-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    & .sec-title {
        margin-bottom: 30px;
    }
}
.team-list {
    @include list;
}
.team-list__item {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.team-list__box {
    background-color: var(--primary-bg-color);
    padding-top: 30px;
    padding-bottom: 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.team-list__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;
}
.team-list__text {
    color: var(--secondary-txt-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
    .team-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -30px;
    }
    .team-list__item {
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 30px;
    }
    .team-list__item:nth-child(odd) {
    margin-right: 30px;
    }
}
@media screen and (min-width: 1200px) {
    .team {
        @include section;
        & .sec-title {
            margin-bottom: 50px;
            font-size: 36px;
            line-height: 1.16;
        }
    }
    .team-list {
        display: flex;
        margin-left: -30px;
    }
    .team-list__item {
        flex-basis: calc((100% - 120px) / 4);
        margin-left: 30px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
        }
    }
    .team-list__box {
        padding: 30px 32px;
    } 
}