:root {
    --primary-txt-color: #212121;
    --secondary-txt-color: #757575;
    --logo-txt-color: #000000;
    --accent-color: #2196F3;
    --icon-color: #AFB1B8;
    --btn-active-color: #188CE8;
    --link-foot-color: rgba(255, 255, 255, 0.6);
    --border-color: #ECECEC;
    --border-port-color: #EEEEEE;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --work-bg-color: rgba(47, 48, 58, 0.8);
    --modal-bg-color:  rgba(0, 0, 0, 0.2);
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}